html {
    font-size: 62.5%; // 1rem == 10px
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: $mainFont;
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
    //color: $blackColor;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 3.2rem;
}