$mainFont: 'Ubuntu', sans-serif;

// colors


// media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// fonts
$thinFont: 300;
$regularFont: 400;
$boldFont: 500;
$blackFont: 700;

// space
$space: 5rem;